/* Reset Css Start*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  background: pink;
  color: #fff;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  background-color: pink;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  touch-action: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: normal;
}

*:hover,
*:focus,
* {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

a,
input[type="submit"] {
  -webkit-transition: all 0.4s ease-In-out;
  -moz-transition: all 0.4s ease-In-out;
  -o-transition: all 0.4s ease-In-out;
  transition: all 0.4s ease-In-out;
  display: inline-block;
  cursor: pointer;
}

a:hover {

  text-decoration: none;
}

span {
  display: inline-block;
}

a {
  text-decoration: none !important;
  transition: all 0.3s ease-In-out;
}



ol,
ul {
  padding-left: 0 !important;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

textarea,
select,
input[type],
textarea,
select,
button {
  background: transparent;
  border: none;
  border-radius: 0px;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

::-moz-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

:-moz-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

body {
  background: hsla(0, 0%, 13%, 1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  color: #fff;
}

.all-pages h2 {
  font-weight: 500;
  font-size: 45px;
}

.all-links {
  margin: 10px 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}

.all-links a {
  font-size: 16px;
}

.main-form {
  background: #fff;
  border-radius: 5px;
  margin: 30px 0;
}

.main-form form {
  display: flex;
  flex-flow: column;
  padding: 40px;
}

.main-form form label {
  color: #000;
  font-size: 15px;
  margin: 10px 0;
}

.main-form form input {
  padding: 10px 5px;
  width: 100%;
  color: #000;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  font-family: '__Poppins_6fcd13';
}

button[type="submit"] {
  background: coral;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-family: '__Poppins_6fcd13';
  cursor: pointer;
}